[Unit]
Description=Configure Audio
After=pipewire.service pipewire-pulse.service wireplumber.service
BindsTo=pipewire.service pipewire-pulse.service
PartOf=pipewire.service pipewire-pulse.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/home/omarhanykasban/DotFiles/scripts/audio.sh || true"
RemainAfterExit=yes

[Install]
WantedBy=default.target
