.DS_Store
temp
.log
DotFiles/.config/ulauncher/user-themes/libadwaita/
DotFiles/.config/i3/blurred_wallpaper.jpg
DotFiles/.config/i3/wallpaper.conf
DotFiles/.config/sway/wallpaper.conf
DotFiles/.config/hypr/wallpaper.conf
DotFiles/.config/mpv/memo-history.log