.DS_Store
temp
.log
nohup.out
DotFiles/.config/ulauncher/user-themes/libadwaita/
DotFiles/.config/i3/blurred_wallpaper.jpg
DotFiles/.config/i3/wallpaper.conf
DotFiles/.config/sway/wallpaper.conf
DotFiles/.config/sway/outputs
DotFiles/.config/sway/workspaces
DotFiles/.config/hypr/wallpaper.conf
DotFiles/.config/hypr/monitors.conf
DotFiles/.config/hypr/workspaces.conf
DotFiles/.config/mpv/memo-history.log