@define-color background #242424;
@define-color foreground #FFFFFF;
@define-color foreground-alt #D1D5DA;
@define-color alpha #1E1E1E;
@define-color shade1 #383C3E;
@define-color shade2 #4A4A4A;
@define-color shade3 #505050;
@define-color shade4 #585858;
@define-color shade5 #606060;
@define-color shade6 #686868;
@define-color shade7 #707070;
@define-color shade8 #787878;

* {
    border-radius: 0;
    font-family: RobotoMono Nerd Font, monospace;
    font-weight: normal;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
    background-color: @alpha;
    transition-property: background-color;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}
  
#workspaces {
    background-color: @background;
    color: @foreground;
    padding: 0px;
}

#workspaces button {
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
    border-width: 0px;
    padding: 10px 10px;
    background-color: @background;
    color: @shade1;
}
  
#workspaces button.active {
    background-color: @shade1;
    color: #F5F5F5;
}
  
#workspaces button.focused {
    color: #e5e9f0;
    background-color: @shade1;
}
  
#workspaces button.urgent {
    color: #11111b;
    background-color: @background;
}

#workspaces button.occupied {
    color: @foreground-alt;
    background-color: @background;
}

#window {
    padding: 1px;
    padding-left: 12px;
    padding-right: 12px;
    color: #ffffff;
    background: @shade2;
}

#custom-disks {
    background: @shade1;
    color: @foreground;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
}

#custom-gpuusage {
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
    background: @shade2;
    color: @foreground;
}

#custom-vramusage {
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
    background: @shade1;
    color: @foreground;
}

#cpu {
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
    background: @shade2;
    color: @foreground;
}

#memory {
    background: @shade1;
    color: @foreground;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
}

#backlight {
    background: @shade2;
    color: @foreground;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
}

#pulseaudio {
    background: @shade1;
    color: @foreground;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
}

#pulseaudio.microphone {
    background: @shade2;
    color: @foreground;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
}

#custom-language {
    background: @shade1;
    color: @foreground;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
}

#battery {
    background: @shade2;
    color: @foreground;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
}

#bluetooth {
    background: @shade1;
    color: @foreground;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
}

#network {
    background: @shade2;
    color: @foreground;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
}

#clock {
    background: @shade1;
    color: @foreground;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
}

#custom-updates {
    background-color: @background;
    color: @shade4;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
}

#custom-power {
    background-color: @background;
    color: @shade2;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
}

#tray {
    background-color: @background;
    color: @foreground;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
}

#custom-notification {
    background-color: @background;
    color: @shade4;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
}

#custom-settings {
    background-color: @background;
    color: @shade4;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
}

#custom-caffeine {
    color: #89dceb;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
}

#custom-weather {
    background-color: @background;
    color: @shade4;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
}