@define-color background #FFFFFF;
@define-color foreground #F5F5F5;
@define-color foreground-alt #141C21;
@define-color alpha #39444f;
@define-color shade1 #1A237E;
@define-color shade2 #283593;
@define-color shade3 #303F9F;
@define-color shade4 #3949AB;
@define-color shade5 #3F51B5;
@define-color shade6 #5C6BC0;
@define-color shade7 #7986CB;
@define-color shade8 #9FA8DA;

* {
    border-radius: 0;
    font-family: Iosevka Nerd Font;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
    background-color: @alpha;
    transition-property: background-color;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}
  
  #workspaces button {
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
    border-width: 0px;
    padding: 10px 10px;
    background-color: @background;
    color: @foreground-alt;
  }
  
  #workspaces button.active {
    background-color: @shade8;
    color: #0a0a0a;
  }
  
  #workspaces button.focused {
    color: #a6adc8;
    background-color: #eba0ac;
  }
  
  #workspaces button.urgent {
    color: #11111b;
    background-color: @background;
    background-color: #CC6666;
  }
  #workspaces button.occupied {
    color: @foreground-alt;
    background-color: @background;
  }
#custom-disk-root,
#custom-disk-home,
#custom-disk-hdd,
#custom-disk-hdd2,
#custom-disk-hdd3,
#cpu,
#memory,
#backlight,
#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#custom-power,
#custom-notification,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#tray,

#cpu {
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
    background: @shade8;
    color: @foreground;
}
#memory {
    background: @shade7;
}
#backlight {
    background: #1e1e2e;}

#tray {
    background-color: @background;
    color: @foreground;
}

#custom-caffeine {
    color: #89dceb;
}

#custom-language {
    background: @shade5;
    color: @foreground;
}

#custom-updates {
    background-color: @background;
    color: @shade4;
}

#clock {
    color: @foreground;
    background: @shade3;
}

#network {
    background: @shade4;
    color: @foreground;
}

#bluetooth {
    background: @shade4;
}

#pulseaudio {
    background: @shade4;
}
#pulseaudio.microphone {
    background: @shade4;
}

#battery {
    color: #a6e3a1;
}

#custom-weather {
    background-color: @background;
    color: @shade4;
}
#custom-power {
    background-color: @background;
    color: @shade4;
}
#custom-notification {
    background-color: @background;
    color: @shade4;
}

#custom-disks {
    background: @shade6;
}
#window {
    padding: 1px;
    color: #ffffff;
    background: #333333;
}
#workspaces {
    background-color: @background;
    color: @foreground;
    padding: 2px;
  }