* {
    border: none;
    border-radius: 0;
    font-family: RobotoMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
    border-radius: 0; /* Set border-radius to 0 to disable rounded corners */
}

tooltip {
    background: #1e1e2e;
    border-radius: 0; /* Set border-radius to 0 to disable rounded corners */
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 5px;
    color: #3c4247;
    margin-right: 5px;
}

#workspaces button.active {
    color: #dce0e8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 0; /* Set border-radius to 0 to disable rounded corners */
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 0; /* Set border-radius to 0 to disable rounded corners */
}

#workspaces button:hover {
    background: #7287fd;
    color: #1e66f5;
    border-radius: 0; /* Set border-radius to 0 to disable rounded corners */
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#custom-power,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#tray,
#backlight {
    background: #d20f39;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid #181825;
}

#tray {
    background: #d20f39;
    border-radius: 0; /* Set border-radius to 0 to disable rounded corners */
    margin-right: 10px;
}

#workspaces {
    background: #d20f39;
    border-radius: 0; /* Set border-radius to 0 to disable rounded corners */
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-caffeine {
    color: #89dceb;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-language {
    color: #f38ba8;
    border-left: 0px;
    border-right: 0px;
}

#custom-updates {
    background: #d20f39;
    color: #f5c2e7;
    border-left: 0px;
    border-right: 0px;
}

#window {
    background: #d20f39;
    color: #dce0e8;
    border-radius: 0; /* Set border-radius to 0 to disable rounded corners */
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #df8e1d;
    background: #d20f39;
    border-radius: 0; /* Set border-radius to 0 to disable rounded corners */
    margin-left: 5px;
    margin-right: 0px;
    border-right: 0px;
}

#network {
    background: #d20f39;
    color: #df8e1d	;
    border-left: 0px;
    border-right: 0px;
}

#bluetooth {
    background: #d20f39;
    color: #df8e1d	;    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    background: #d20f39;
    color: #1e66f5;    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    background: #d20f39;
    color: #7287fd;    border-left: 0px;
    border-right: 0px;
}

#battery {
    background: #d20f39;
    color: #dce0e8;    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}
#custom-power {
    background: #d20f39;
    color: #dce0e8;
    border-radius: 0px 0px 0px 0px;
    border-right: 0px;
    margin-left: 0px;
    margin-right: 5px;
    
}