[Unit]
Description=Run asusctl-fans service every 30 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
Unit=asusctl-fans.service
Persistent=true

[Install]
WantedBy=timers.target
